opencv_python==4.4.0.46
decord==0.5.2
ipywidgets==7.6.3
requests==2.25.1
matplotlib==3.4.2
scipy==1.6.3
numpy==1.20.1
einops==0.3.0
pandas==1.2.4
Flask==2.0.1
tqdm==4.60.0
apex==0.9.10dev
bqplot==0.12.30
fastprogress==1.0.0
lap==0.4.0
lxml==4.6.3
motmetrics==1.2.0
Pillow==8.3.1
progress==1.5
pycocotools==2.0.2
PyYAML==5.4.1
scikit_learn==0.24.2
yacs==0.1.8
gunicorn==20.0.4
Werkzeug==0.16.0
Jinja2==2.10.1
itsdangerous==1.1.0
MarkupSafe==1.1.1
