<!DOCTYPE html>
<html>
<head>
	<title>base</title>
	<style>
		    body{
    background-color: #A8C0CE
    }

	h1{
	color:#3D3D3D;
	font: : calibri;
	font-size: 28;
	padding: 30px;
	margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: Bold;
    }

	</style>
</head>
<body>

	<h1><center>Action recognition in sports videos</center></h1>
	
	<form action="prediction" method="POST" enctype="multipart/form-data">
		<input type="file" name="vid">
		<input type="submit" name="btn">
	</form>

</body>
</html>